.dialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dragons
{
    color: teal;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}